.container {
  margin: 50px;  
}

p {
  font-weight: bold;
  margin: 25px;
}

h1 {
  font-weight: medium;
  text-align: center; 
  margin-bottom: 20px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

img {
  border: 3px solid red;
  max-width: 350px;
  object-fit: scale-down;
  margin: 20px;
}

form {
  border-style: double;
  padding: 30px;
}

.btn {
  margin: 60px;
  background-color: salmon;
  position: relative;
  top: 50%;
  left: 50%;
  border-style: inset;
}

#python {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#rubyonrails {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#csharp {
  display: none;
  text-align: center;
  margin-top: 20px;
}