p {
  margin: 25px
}

h1 {
  font-weight: bold;
  text-align: center; 
  margin-bottom: 20px;
  
}

.btn {
  margin: 60px;
  background-color: salmon;
}

#python {
  display: none;
}

#rubyonrails {
  display: none;
}